<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ app.user.nom }} {{ app.user.prenom }} | HomeWork</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->

    <!-- BEGIN STYLESHEETS -->
    <link rel="icon" href="{{asset ('lib/img/hw.ico')}}" sizes="16x16 32x32 48x48 64x64">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/bootstrap.css?1422792965')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/materialadmin.css?1425466319')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/font-awesome.min.css?1422529194')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/material-design-iconic-font.min.css?1421434286')}}" />
    <!-- END STYLESHEETS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
    <style>
        .my-avatar {
            object-fit: cover;
            border-radius:50%;
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body class="menubar-hoverable header-fixed menubar-first ">

<!-- BEGIN HEADER-->
<header id="header" >
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand" >
                    <div class="brand-holder">
                        <a href="{{ path('web_dashboard') }}">
                            <span class="text-lg text-bold text-primary">HOMEWORK</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
                <li>
                    <!-- Search form -->
                    <form class="navbar-search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="headerSearch" placeholder="Search for projects">
                        </div>
                        <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                            </ul><!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <img src="{{ asset('uploads/profile/' ~ app.user.id ~'/' ~ app.user.path)}}" alt="hédhi loula" />
                                <span class="profile-info">
                                    {{ app.user.username }}
                                    <small>{{ app.user.type }}</small>
                                </span>
                    </a>
                    <ul class="dropdown-menu animation-zoom">
                        <li class="dropdown-header">Config</li>
                        <li><a href="{{ path('user_profile') }}">Profile</a></li>
                        <li><a href="{{ path('edit_profile') }}">Edit</a></li>
                        <li class="divider"></li>
                        <!--<li><a href="#"><i class="fa fa-fw fa-lock"></i> Lock</a></li>-->
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->
            </ul><!--end .header-nav-profile -->
        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->


<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas">
    </div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->

    <!-- BEGIN CONTENT-->
    <div id="content">

        <!-- BEGIN PROFILE HEADER -->
        <section class="full-bleed">
            <div class="section-body style-default-dark force-padding text-shadow">
                <div class="img-backdrop" style="background-image: url({{asset  ('lib/img/img16.jpg')}})"></div>
                <div class="overlay overlay-shade-top stick-top-left height-3"></div>
                <div class="row">
                    <div class="col-md-3 col-xs-5">
                        <center><img class="img-circle border-white border-xl my-avatar" src="{{ asset('uploads/profile/' ~ app.user.id ~'/' ~ app.user.path)}}" alt=""/>
                            <h3>{{ app.user.nom }} {{ app.user.prenom}}<br/><small>{{ app.user.speciality }}</small></h3></center>
                </div><!--end .col -->
                    <!--<div class="col-md-9 col-xs-7">
                        <div class="width-3 text-center pull-right">
                            <strong class="text-xl">643</strong><br/>
                            <span class="text-light opacity-75">followers</span>
                        </div>
                        <div class="width-3 text-center pull-right">
                            <strong class="text-xl">108</strong><br/>
                            <span class="text-light opacity-75">following</span>
                        </div>
                    </div>-->
                </div><!--end .row -->
                <div class="overlay overlay-shade-bottom stick-bottom-left force-padding text-right">
                    <a href="{{ path('edit_profile') }}" class="btn btn-raised btn-primary"><i class="md-settings"></i> Settings</a>
                </div>
            </div><!--end .section-body -->
        </section>
        <!-- END PROFILE HEADER  -->

        <section>
            <div class="section-body no-margin">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card tabs-left style-default-light">
                            <ul class="card-head nav nav-tabs text-center" data-toggle="">
                                <li class="active"><a href="#first5"><i class="fa fa-lg fa-user"></i><br/><h4>Profile<br/><small>Personal details</small></h4></a></li>
                                <li><a href="{{ path('user_edit') }}"><i class="fa fa-lg fa-lock"></i><br/><h4>Password<br/><small>Reset</small></h4></a></li>
                                <li><a href="{{ path('web_tag_homepage') }}"><i class="fa fa-lg fa-code"></i><br/><h4>Skills<br/><small>Pratices</small></h4></a></li>
                            </ul>

                            <div class="card-body tab-content style-default-bright">
                                <div class="tab-pane active" id="first5">
                                    <h3 class="text-light">{{ app.user.nom }} <strong>{{ app.user.prenom}}</strong></h3>
                                    <p>{{ app.user.biolographie }}</p>
                                    <dl class="dl-horizontal">
                                        <dt>Username</dt>
                                        <dd>{{ app.user.username }}</dd>
                                        <dt>Email</dt>
                                        <dd>{{ app.user.email }}</dd>
                                        <dt>Phone N°</dt>
                                        <dd>{{ app.user.telephone }}</dd>
                                        <dt>Adress</dt>
                                        <dd>{{ app.user.country }} {{ app.user.city }}</dd>
                                        <dt>Specialized</dt>
                                        <dd>{{ app.user.speciality }}</dd>
                                    </dl>
                                </div>
                                <div class="tab-pane" id="second5">
                                    <h1><i class="fa fa-fw fa-clock-o text-accent"></i> History</h1>
                                    <p class="lead">Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et. Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus has.</p>
                                    <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
                                </div>
                                <div class="tab-pane" id="third5"><p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
                                    <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
                                </div>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END LAYOUT LEFT SIDEBAR -->

                </div><!--end .row -->
            </div><!--end .section-body -->
        </section>
    </div><!--end #content-->
    <!-- END CONTENT -->

    <!-- BEGIN MENUBAR-->
    <div id="menubar" class="menubar-inverse ">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="{{ path('web_dashboard') }}">
                    <span class="text-lg text-bold text-primary ">HOMEWORK</span>
                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="{{ path('web_dashboard') }}" >
                        <div class="gui-icon"><i class="md md-dashboard"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN EMAIL -->
                <li>
                    <a href="{{ path('email_compose') }}">
                        <div class="gui-icon"><i class="md md-email"></i></div>
                        <span class="title">Email</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END EMAIL -->

                <!-- BEGIN DASHBOARD -->
                <li class="active expanding">
                    <a href="{{ path('user_profile') }}" >
                        <div class="gui-icon"><i class="md md-account-circle"></i></div>
                        <span class="title">Profile</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN UI -->
                <li>
                    <a href="{{ path('web_projects_homepage') }}">
                        <div class="gui-icon"><i class="fa fa-briefcase"></i></div>
                        <span class="title">Projects</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END UI -->

                <!-- BEGIN TABLES -->
                <li>
                    <a href="{{ path('user_freelancers') }}">
                        <div class="gui-icon"><i class="fa fa-group"></i></div>
                        <span class="title">Freelancers</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END TABLES -->

                <!-- BEGIN FORMS -->
                <li>
                    <a href="{{ path('payment_homepage') }}">
                        <div class="gui-icon"><i class="fa fa-money"></i></div>
                        <span class="title">Payments</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END FORMS -->

                <!-- BEGIN PAGES -->
                <li>
                    <a href="{{ path('edit_profile') }}">
                        <div class="gui-icon"><i class="fa fa-wrench"></i></div>
                        <span class="title">Settings</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END FORMS -->

                <!-- BEGIN CHARTS -->
                <li>
                    <a href="{{ path('browse_portfolios') }}" >
                        <div class="gui-icon"><i class="fa fa-clipboard"></i></div>
                        <span class="title">Portfolios</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END CHARTS -->

                <!-- BEGIN LEVELS -->
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <div class="gui-icon"><i class="fa fa-sign-out"></i></div>
                        <span class="title">Disconnection</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END LEVELS -->

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">© 2016 HomeWork.<br></span>Made by <strong>Moez Zineb</strong> & <strong>Abdelaziz Dridi</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->
</div><!--end #base-->
<!-- END BASE -->

<!-- BEGIN JAVASCRIPT -->
<script src="{{asset('lib/js/libs/jquery/jquery-1.11.2.min.js')}}"></script>
<script src="{{asset('lib/js/libs/jquery/jquery-migrate-1.2.1.min.js')}}"></script>
<script src="{{asset('lib/js/libs/bootstrap/bootstrap.min.js')}}"></script>
<script src="{{asset('lib/js/libs/spin.js/spin.min.js')}}"></script>
<script src="{{asset('lib/js/libs/autosize/jquery.autosize.min.js')}}"></script>
<script src="{{asset('lib/js/libs/nanoscroller/jquery.nanoscroller.min.js')}}"></script>
<script src="{{asset('lib/js/core/source/App.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppNavigation.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppOffcanvas.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppCard.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppForm.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppNavSearch.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppVendor.js')}}"></script>
<script src="{{asset('lib/js/core/demo/Demo.js')}}"></script>
<!-- END JAVASCRIPT -->

</body>
</html>
