<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | HomeWork</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->

    <!-- BEGIN STYLESHEETS -->
    <link rel="icon" href="{{asset ('lib/img/hw.ico')}}" sizes="16x16 32x32 48x48 64x64">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/bootstrap.css?1422792965')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/materialadmin.css?1425466319')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/font-awesome.min.css?1422529194')}}" />
    <link type="text/css" rel="stylesheet" href="{{asset ('lib/css/theme-default/material-design-iconic-font.min.css?1421434286')}}" />

    <!-- END STYLESHEETS -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
    <style>
        .my-avatar {
            object-fit: cover;
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body class="menubar-hoverable header-fixed menubar-first  ">

<!-- BEGIN HEADER-->
<header id="header" >
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand" >
                    <div class="brand-holder">
                        <a href="#">
                            <span class="text-lg text-bold text-primary">HOMEWORK</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
                <li>
                    <!-- Search form -->
                    <form class="navbar-search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="headerSearch" placeholder="Search for projects">
                        </div>
                        <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                    </form>
                </li>
            </ul><!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <img src="{{ asset('uploads/profile/' ~ app.user.id ~'/' ~ app.user.path)}}" alt="hédhi loula" />
                                <span class="profile-info">
                                    {{ app.user.username }}
                                    <small>{{ app.user.type }}</small>
                                </span>
                    </a>
                    <ul class="dropdown-menu animation-zoom">
                        <li class="dropdown-header">Config</li>
                        <li><a href="{{ path('user_profile') }}">Profile</a></li>
                        <li><a href="{{ path('edit_profile') }}">Edit</a></li>
                        <li class="divider"></li>
                        <!--<li><a href="#"><i class="fa fa-fw fa-lock"></i> Lock</a></li>-->
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->
            </ul><!--end .header-nav-profile -->
        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->

<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas">
    </div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->

    <!-- BEGIN CONTENT-->
    <div id="content">
        <section>
            <div class="section-body">
                <div class="row">

                    <!-- BEGIN ALERT - REVENUE -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-info no-margin">
                                    <!--<strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>-->
                                    <strong class="text-xl">$ 0,00</strong><br/>
                                    <span class="opacity-50">Total balance</span>
                                </div>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END ALERT - REVENUE -->

                    <!-- BEGIN ALERT - VISITS -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-warning no-margin">
                                    <!--<strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>-->
                                    <strong class="text-xl">$ 0,00</strong><br/>
                                    <span class="opacity-50">Balance retractable</span>
                                    <div class="stick-bottom-right">
                                        <div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>
                                    </div>
                                </div>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END ALERT - VISITS -->

                    <!-- BEGIN ALERT - BOUNCE RATES -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-danger no-margin">
                                    <!--<strong class="pull-right text-danger text-lg">0,18% <i class="md md-trending-down"></i></strong>-->
                                    <strong class="text-xl">$ 0.00</strong><br/>
                                    <span class="opacity-50">Outstanding balance</span>
                                    <div class="stick-bottom-left-right">

                                    </div>
                                </div>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END ALERT - BOUNCE RATES -->

                    <!-- BEGIN ALERT - TIME ON SITE -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div class="alert alert-callout alert-success no-margin">
                                    <!--<h1 class="pull-right text-success"><i class="md md-timer"></i></h1>-->
                                    <strong class="text-xl">$ 0.00</strong><br/>
                                    <span class="opacity-50">Available balance</span>
                                </div>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END ALERT - TIME ON SITE -->

                </div><!--end .row -->
                <div class="row">

                    <!-- BEGIN SITE ACTIVITY -->
                    <div class="col-md-9">
                        <div class="card ">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card-head">
                                        <header>My Projects</header>
                                    </div><!--end .card-head -->
                                    <div class="card-body height-8">
                                        Recieve offers
                                        <span class="pull-right">{{ rec }}</span>
                                        <div class="progress progress-hairline">
                                            <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                        </div>
                                        Work in progress
                                        <span class="pull-right">{{ pro }}</span>
                                        <div class="progress progress-hairline">
                                            <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                        </div>
                                        Finished
                                        <span class="pull-right">{{ fin }}</span>
                                        <div class="progress progress-hairline">
                                            <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                        </div>
                                        {% if (app.user.type=='Employer') %}
                                        <a href="{{ path('web_project_homepage') }}" class="btn btn-block ink-reaction btn-info">Create Project</a>
                                        {% elseif (app.user.type=='Freelancer') %}
                                            <a href="{{ path('web_activity_homepage') }}" class="btn btn-block ink-reaction btn-info">My Activities</a>
                                        {% endif %}
                                    </div><!--end .card-body -->
                                </div><!--end .col -->
                                <div class="col-md-4">
                                    <div class="card-head">
                                        <header>My Offers</header>
                                    </div>
                                    <div class="card-body height-8">
                                        Waiting for approval
                                        <span class="pull-right">0</span>
                                        <div class="progress progress-hairline">
                                            <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                        </div>
                                        Accepted
                                        <span class="pull-right">0</span>
                                        <div class="progress progress-hairline">
                                            <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                        </div>
                                        Disqualified
                                        <span class="pull-right">0</span>
                                        <div class="progress progress-hairline">
                                            <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                        </div>
                                        <a href="{{ path('create_portfolio') }}" class="btn btn-block ink-reaction btn-accent">Create Portfolio</a>
                                    </div><!--end .card-body -->
                                </div><!--end .col -->

                            </div><!--end .row -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END SITE ACTIVITY -->

                    <!-- BEGIN SERVER STATUS -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-head">
                                <header class="text-primary">User</header>
                            </div><!--end .card-head -->
                            <div class="card-body height-8">
                                <div class="pull-center text-center">
                                    <center><img class="img-circle border-white border-xl my-avatar" src="{{ asset('uploads/profile/' ~ app.user.id ~'/' ~ app.user.path)}}" alt="" height="140px" width="140px"/></center>
                                    <h3>{{ app.user.nom }} {{ app.user.prenom}}<br/><small>{{ app.user.type }}</small></h3>
                                </div>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END SERVER STATUS -->

                </div><!--end .row -->
                <div class="row">



                </div><!--end .row -->
            </div><!--end .section-body -->
        </section>
    </div><!--end #content-->
    <!-- END CONTENT -->

    <!-- BEGIN MENUBAR-->
    <div id="menubar" class="menubar-inverse ">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="{{ path('web_dashboard') }}">
                    <span class="text-lg text-bold text-primary ">HOMEWORK</span>
                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li class="active expanding">
                    <a href="{{ path('web_dashboard') }}" >
                        <div class="gui-icon"><i class="md md-dashboard"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN EMAIL -->
                <li>
                    <a href="{{ path('email_compose') }}">
                        <div class="gui-icon"><i class="md md-email"></i></div>
                        <span class="title">Email</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END EMAIL -->

                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="{{ path('user_profile') }}" >
                        <div class="gui-icon"><i class="md md-account-circle"></i></div>
                        <span class="title">Profile</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN UI -->
                <li>
                    <a href="{{ path('web_projects_homepage') }}">
                        <div class="gui-icon"><i class="fa fa-briefcase"></i></div>
                        <span class="title">Projects</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END UI -->

                <!-- BEGIN TABLES -->
                <li>
                    <a href="{{ path('user_freelancers') }}">
                        <div class="gui-icon"><i class="fa fa-group"></i></div>
                        <span class="title">Freelancers</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END TABLES -->

                <!-- BEGIN FORMS -->
                <li>
                    <a href="{{ path('payment_homepage') }}">
                        <div class="gui-icon"><i class="fa fa-money"></i></div>
                        <span class="title">Payments</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END FORMS -->

                <!-- BEGIN PAGES -->
                <li>
                    <a href="{{ path('edit_profile') }}">
                        <div class="gui-icon"><i class="fa fa-wrench"></i></div>
                        <span class="title">Settings</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END FORMS -->

                <!-- BEGIN CHARTS -->
                <li>
                    <a href="{{ path('browse_portfolios') }}" >
                        <div class="gui-icon"><i class="fa fa-clipboard"></i></div>
                        <span class="title">Portfolios</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END CHARTS -->

                <!-- BEGIN LEVELS -->
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <div class="gui-icon"><i class="fa fa-sign-out"></i></div>
                        <span class="title">Disconnection</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END LEVELS -->

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">© 2016 HomeWork.<br></span>Made by <strong>Moez Zineb</strong> & <strong>Abdelaziz Dridi</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->

</div><!--end #base-->
<!-- END BASE -->

<!-- BEGIN JAVASCRIPT -->
<script src="{{asset('lib/js/libs/jquery/jquery-1.11.2.min.js')}}"></script>
<script src="{{asset('lib/js/libs/jquery/jquery-migrate-1.2.1.min.js')}}"></script>
<script src="{{asset('lib/js/libs/bootstrap/bootstrap.min.js')}}"></script>
<script src="{{asset('lib/js/libs/spin.js/spin.min.js')}}"></script>
<script src="{{asset('lib/js/libs/autosize/jquery.autosize.min.js')}}"></script>
<script src="{{asset('lib/js/libs/nanoscroller/jquery.nanoscroller.min.js')}}"></script>
<script src="{{asset('lib/js/core/source/App.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppNavigation.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppOffcanvas.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppCard.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppForm.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppNavSearch.js')}}"></script>
<script src="{{asset('lib/js/core/source/AppVendor.js')}}"></script>
<script src="{{asset('lib/js/core/demo/Demo.js')}}"></script>
<script src="{{asset('lib/js/core/demo/DemoDashboard.js')}}"></script>
<!-- END JAVASCRIPT -->

</body>
</html>
